
<mat-sidenav-container id="main">
  <mat-sidenav #sidenav mode="side">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Your Application Name</span>
    </mat-toolbar>
    <div id="routerContent">
    <router-outlet></router-outlet></div>

  </mat-sidenav-content>
</mat-sidenav-container>