.paddedContent{
    margin:32px;
}



#heroBanner{
    min-height:350px;
    height:350px;
    padding:0px;
    display: grid;
    position: relative;  /* Required for overlay positioning */
    justify-content: start;  /* Center content vertically */
    align-items: center;  /* Center content horizontally */
    overflow:hidden;
}

.heroTitle{
    margin-bottom:0px;
    border:1px solid black;

}

.heroCaption{
    border:1Px solid black;
}

.heroContent{
    padding:32px;
    color: white;  /* Assuming light text for dark image */
    text-align: left;  /* Center text within content area */
}

.heroContent{
    width:100%;
    height:auto;
}


.CenteredheroContent{
    position: absolute;  /* Overlay content on top of image */
    top: 50%;  /* Center vertically */
    left: 50%;  /* Center horizontally */
    transform: translate(-50%, -50%);  /* Center offset for absolute positioning */
    /* Assuming light text for dark image */
    text-align: center;  /* Center text within content area */
}

.heroImage{
    position: absolute;  /* Overlay content on top of image */
    top: 50%;  /* Center vertically */
    left: 50%;  /* Center horizontally */
    transform: translate(-50%, -50%);  /* Center offset for absolute positioning */
    /* Assuming light text for dark image */
    text-align: center;  
    width:100%;
    
}

.heroImage img{
    width:100%;
    min-height:350px;
    object-fit: cover;
    display: block;
}


.section{
    min-height:400px;
}

#section1{
    background-color:beige;
}

#section2{
    background-color:beige;
}

#section3{
    background-color:beige;
}